
tools/*
!tools/*.[ch]
!tools/CMakeLists.txt

test/*
test/compile_asm.c
!test/*.c
!test/inc/*.h
!test/*.sh
!test/*.asm
!test/tools/*.sh
!test/tap
!test/CMakeLists.txt
!test/compile_asm.c.in

man/*
!man/libassemblyline.3
!man/asmline.1

build-linux
build-win32

.vscode

src/config.h
assemblyline.pc
