
tools/*
!tools/*.[ch]
!tools/CMakeLists.txt

test/*
!test/*.c
!test/*.sh
!test/*.asm
!test/tools/*.sh
!test/tap
!test/CMakeLists.txt

man/*
!man/libassemblyline.3
!man/asmline.1

build-linux
build-win32

.vscode

src/config.h
assemblyline.pc
